<h1>menu works</h1>
<table border="1">
    <tr>
        <th>id</th>
        <th>Meal Category</th>
        <th>Option Name</th>
    </tr>
    <%  menu.forEach( (item) => { %>
        <tr>
            <td>
                <%= item.id %>
            </td>
            <td>
                <%= item.meal_category_id %>
            </td>
            <td>
                <%= item.option_name %>
            </td>
            <td>
                <a href="edit/<%= project.id %>"><button>edit</button></a>
                <a href="delete/<%= project.id %>"><button>remove</button></a>
                <a href="add-notes/<%= project.id %> "><button>Add Note</button></a>
                <a href="see-notes/<%= project.id %> "><button>View Project Note</button></a>
            </td>
        </tr>
        <% }) %>
</table>